@charset "UTF-8";
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0; }

body {
  font: 12px "微软雅黑", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  color: #cd0200;
  text-decoration: underline; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

header {
  width: 100%; }

.header {
  position: fixed;
  height: 1.76rem;
  background: gray;
  opacity: 0.7;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 2; }
  .header .icon {
    width: 100%;
    height: 0.61333rem;
    display: flex; }
    .header .icon .icon-left {
      width: 30%;
      display: flex;
      line-height: 0.61333rem;
      justify-content: center; }
      .header .icon .icon-left .sig {
        width: 0.76rem;
        height: 0.10667rem;
        margin-right: 0.14667rem; }
        .header .icon .icon-left .sig img {
          width: 100%;
          height: 100%; }
      .header .icon .icon-left p {
        font-size: 0.21333rem; }
      .header .icon .icon-left .wifi {
        width: 0.25333rem;
        height: 0.17333rem;
        margin-left: 0.14667rem; }
        .header .icon .icon-left .wifi img {
          width: 100%;
          height: 100%; }
    .header .icon span {
      display: block;
      width: 40%;
      text-align: center;
      line-height: 0.61333rem;
      font-size: 0.21333rem;
      color: #565656; }
    .header .icon .icon-right {
      width: 30%;
      display: flex;
      line-height: 0.61333rem; }
      .header .icon .icon-right .sig {
        width: 0.25333rem;
        height: 0.22667rem;
        position: absolute;
        right: 1.33333rem; }
        .header .icon .icon-right .sig img {
          width: 100%;
          height: 100%; }
      .header .icon .icon-right p {
        font-size: 0.21333rem;
        display: block;
        position: absolute;
        right: 0.73333rem; }
      .header .icon .icon-right .wifi {
        width: 0.36rem;
        height: 0.17333rem;
        position: absolute;
        right: 0.26667rem; }
        .header .icon .icon-right .wifi img {
          width: 100%;
          height: 100%; }
  .header .list-covers {
    width: 100%;
    height: 1.14667rem;
    display: flex; }
    .header .list-covers .list-left {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      line-height: 1.06667rem; }
      .header .list-covers .list-left .loaction {
        width: 0.26667rem;
        height: 0.33333rem;
        margin-right: 0.2rem; }
        .header .list-covers .list-left .loaction img {
          width: 100%;
          height: 100%; }
      .header .list-covers .list-left p {
        font-size: 0.24rem; }
      .header .list-covers .list-left .place {
        width: 0.18667rem;
        height: 0.08rem;
        margin-left: 0.13333rem; }
        .header .list-covers .list-left .place img {
          width: 100%;
          height: 100%; }
    .header .list-covers .list-center {
      width: 65%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      line-height: 1.06667rem; }
      .header .list-covers .list-center .search {
        width: 0.30667rem;
        height: 0.30667rem;
        position: absolute;
        left: 0.57333rem; }
        .header .list-covers .list-center .search img {
          width: 100%;
          height: 100%; }
      .header .list-covers .list-center input {
        margin-top: 0.26667rem;
        width: 6rem;
        height: 0.64rem;
        border-radius: 0.26667rem;
        border: none;
        background: #f2f2f2;
        outline: none;
        font-size: 0.21333rem;
        text-indent: 0.8rem; }
    .header .list-covers .list-right {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      line-height: 1.06667rem; }
      .header .list-covers .list-right .yuying {
        width: 0.25333rem;
        height: 0.46667rem;
        margin-right: 0.18667rem; }
        .header .list-covers .list-right .yuying img {
          width: 100%;
          height: 100%; }
      .header .list-covers .list-right .weixin {
        width: 0.44rem;
        height: 0.41333rem; }
        .header .list-covers .list-right .weixin img {
          width: 100%;
          height: 100%; }

.content {
  padding-top: 1.76rem;
  width: 100%;
  height: 21.70667rem;
  background: #f5f5f5;
  margin-top: 0.26667rem; }
  .content .daily-special {
    width: 94%;
    height: 3.30667rem;
    margin: 0 auto;
    position: relative; }
    .content .daily-special .bac-pic {
      width: 9.37333rem;
      height: 3.33333rem; }
      .content .daily-special .bac-pic img {
        width: 100%;
        height: 100%; }
    .content .daily-special .special {
      width: 5.21333rem;
      height: 1.82667rem;
      background: #35430d;
      position: absolute;
      top: 0.74rem;
      left: 22%;
      opacity: 0.7; }
      .content .daily-special .special span {
        font-size: 0.26667rem;
        color: #fff;
        display: block;
        padding-top: 0.38667rem;
        padding-left: 0.97333rem; }
      .content .daily-special .special p {
        font-size: 0.44rem;
        color: #fff;
        padding-top: 0.13333rem;
        padding-left: 0.97333rem; }
      .content .daily-special .special a {
        font-size: 0.61333rem;
        color: #fff;
        display: block;
        position: absolute;
        right: 0.53333rem;
        top: 0.46667rem; }
  .content .content-list-covers {
    width: 100%;
    height: 17.62667rem;
    margin-top: 0.18667rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .content .content-list-covers .content-list {
      width: 94%;
      height: 3.38667rem;
      margin: 0 auto;
      display: flex; }
      .content .content-list-covers .content-list .content-list-left {
        width: 45%;
        height: 100%;
        margin-right: 5.5%;
        position: relative; }
        .content .content-list-covers .content-list .content-list-left .pic {
          width: 4.61333rem;
          height: 3.4rem; }
          .content .content-list-covers .content-list .content-list-left .pic img {
            width: 100%;
            height: 100%; }
        .content .content-list-covers .content-list .content-list-left .fresh-friut {
          width: 3.74667rem;
          height: 1.74667rem;
          background: #6b1e1e;
          position: absolute;
          top: 0.8rem;
          left: 0.4rem;
          opacity: 0.7; }
          .content .content-list-covers .content-list .content-list-left .fresh-friut span {
            font-size: 0.26667rem;
            color: #fff;
            display: block;
            padding-top: 0.38667rem;
            padding-left: 0.4rem; }
          .content .content-list-covers .content-list .content-list-left .fresh-friut p {
            font-size: 0.44rem;
            color: #fff;
            padding-top: 0.13333rem;
            padding-left: 0.4rem; }
          .content .content-list-covers .content-list .content-list-left .fresh-friut a {
            font-size: 0.61333rem;
            color: #fff;
            display: block;
            position: absolute;
            right: 0.33333rem;
            top: 0.4rem; }
      .content .content-list-covers .content-list .content-list-right {
        width: 45%;
        height: 100%;
        position: relative; }
        .content .content-list-covers .content-list .content-list-right .pic {
          width: 4.62667rem;
          height: 3.4rem; }
          .content .content-list-covers .content-list .content-list-right .pic img {
            width: 100%;
            height: 100%; }
        .content .content-list-covers .content-list .content-list-right .safe-negetable {
          width: 3.74667rem;
          height: 1.74667rem;
          background: #171711;
          position: absolute;
          top: 0.8rem;
          left: 0.46667rem;
          opacity: 0.7; }
          .content .content-list-covers .content-list .content-list-right .safe-negetable span {
            font-size: 0.26667rem;
            color: #fff;
            display: block;
            padding-top: 0.38667rem;
            padding-left: 0.4rem; }
          .content .content-list-covers .content-list .content-list-right .safe-negetable p {
            font-size: 0.44rem;
            color: #fff;
            padding-top: 0.13333rem;
            padding-left: 0.4rem; }
          .content .content-list-covers .content-list .content-list-right .safe-negetable a {
            font-size: 0.61333rem;
            color: #fff;
            display: block;
            position: absolute;
            right: 0.33333rem;
            top: 0.4rem; }

footer {
  border-top: 1px solid black; }

.footer {
  width: 100%;
  height: 1.26667rem;
  display: flex;
  justify-content: space-around; }
  .footer .shouye .pic {
    width: 0.85333rem;
    height: 0.73333rem;
    padding-top: 0.16rem; }
    .footer .shouye .pic img {
      width: 100%;
      height: 100%; }
  .footer .shouye p {
    font-size: 0.24rem;
    text-align: center; }
  .footer .category .pic {
    width: 0.69333rem;
    height: 0.69333rem;
    padding-top: 0.16rem; }
    .footer .category .pic img {
      width: 100%;
      height: 100%; }
  .footer .category p {
    font-size: 0.24rem;
    text-align: center; }
  .footer .shopping-car .pic {
    width: 0.72rem;
    height: 0.69333rem;
    padding-top: 0.16rem; }
    .footer .shopping-car .pic img {
      width: 100%;
      height: 100%; }
  .footer .shopping-car p {
    font-size: 0.24rem;
    text-align: center; }
  .footer .myself .pic {
    width: 0.65333rem;
    height: 0.65333rem;
    padding-top: 0.18667rem; }
    .footer .myself .pic img {
      width: 100%;
      height: 100%; }
  .footer .myself p {
    font-size: 0.24rem;
    text-align: center; }

/*# sourceMappingURL=category.css.map */
