@charset"UTF-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#eeeeee;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
$rem:75;
header{
    width: 100%;
    position: relative;
    height: 320/$rem*1rem;
    .background{
        width:100%;
        height: 100%;
    }
  
}
 .top-items{
     width: 100%;
    height: 50/$rem*1rem;
    display: flex;
    position: absolute;
    top: 0/$rem*1rem;


    .left
    {
    width:33.3%;
    height: 50/$rem*1rem;
   display: flex;
    line-height:45/$rem*1rem; 
    .siger{
        width:61/$rem*1rem; 
        height: 10/$rem*1rem; 
         padding-left:20/$rem*1rem;  
        img{
            width:100%;
            height: 100%;
        }
    }
    .wifi{
        width:27/$rem*1rem; 
        height: 18/$rem*1rem; 
       
        img{
            width:100%;
            height: 100%;
        }
    }
   
    span{
          font-size:20/$rem*1rem; 
           color: #f2f2f2;
            padding-left:6/$rem*1rem;  
          
    }
  

   }
   .center
   {
           width:33.3%;
           height: 50/$rem*1rem;
       
           text-align: center;
           line-height:50/$rem*1rem; 
           font-size:20/$rem*1rem; 
           color: #f2f2f2;

     }
     .right{
            width:33.3%;
            height: 50/$rem*1rem;
            display: flex;
            justify-content: center;
           line-height:45/$rem*1rem; 
        
       .bluetooth{
                width:18/$rem*1rem; 
                height: 22/$rem*1rem; 
                padding-left:20/$rem*1rem;  
                img{
                    width:100%;
                    height: 100%;
                }
            }
         .lock{
                width:24/$rem*1rem; 
                height: 21/$rem*1rem; 
                padding-left:20/$rem*1rem;  
                img{
                    width:100%;
                    height: 100%;
                }
            }
         .electricity{
                width:29/$rem*1rem; 
                height: 16/$rem*1rem; 
                padding-left:20/$rem*1rem;  
                img{
                    width:100%;
                    height: 100%;
                }
            }
            
             
         span
         {
             font-size:20/$rem*1rem; 
             color: #f2f2f2;
             padding-left:10/$rem*1rem; 
           
          
         }
 
     }
}
.header{
    width:100%;
    position: absolute;
    height: 64/$rem*1rem;
    top:50/$rem*1rem;
  
    display: flex;
    .header-left{
        width:20%;
        height: 64/$rem*1rem;
      
        line-height: 64/$rem*1rem; 
        text-align: center;
        display: flex;
        .position{
            width:20/$rem*1rem; 
            height: 23/$rem*1rem; 
            margin-left: 23/$rem*1rem; 
            img{
                width:100%;
                height: 100%;
            }
        }
         .location{
            width:12/$rem*1rem; 
            height: 7/$rem*1rem;
             margin-left: 2/$rem*1rem;  
            img{
                width:100%;
                height: 100%;
            }
        }
        span{
             font-size:20/$rem*1rem; 
             color: #f2f2f2;
            padding-left:11/$rem*1rem; 
        }
    }
    .header-center{
        position: relative;
        width:60%;
        height: 64/$rem*1rem;
        padding-top: 5/$rem*1rem;
      
        input{
            position: absolute;
            width:90%;
            height:50/$rem*1rem;
            border-radius: 25/$rem*1rem; 
            font-size:20/$rem*1rem; 
            text-align: center; 
            background: #c9c8c9;
            z-index: 0;

        }
        .search{
              position: absolute;
             z-index:1;
            width: 26/$rem*1rem;
            height: 26/$rem*1rem;
               top:20/$rem*1rem;
             left:40/$rem*1rem;
            img{
                 width:100%;
                 height:100%;
            }
        }


        
    }
    .header-right{
         width:20%;
         height: 64/$rem*1rem;
         display:flex;
          line-height: 64/$rem*1rem; 
           text-align: center;
           .weixin{
               width:38/$rem*1rem; 
               height: 35/$rem*1rem; 
               img{
                   width:100%;
                   height:100%;
               }
           }
         .scan{
               width:34/$rem*1rem; 
               height: 29/$rem*1rem; 
               margin-left:15/$rem*1rem; 
               img{
                   width:100%;
                   height:100%;
               }
            }
   
    }
}
nav{
    width:100%;
    height:225/$rem*1rem;
    background: #ffffff;
    margin-top:20/$rem*1rem;
    
}
.nav-items{
    position: relative;
     width:100%;
    height:182/$rem*1rem;
    display: flex;
    justify-content: space-around;
   

    
   
}
.list{
    width:20%;
     position: relative;
    margin-top:34/$rem*1rem;
    text-align: center;
    span{
           font-size:20/$rem*1rem; 
           color: #b7b7b7;
    }
    img{
        width:50%;

    }
   
}
.circle{
    width:100%;
    height: 43/$rem*1rem; 
    

    
    display: flex;

    justify-content: center;
    .circle-left{
          width: 12/$rem*1rem; 
          height: 12/$rem*1rem; 
          margin-top:12/$rem*1rem;
          border-radius: 6/$rem*1rem; 
          margin-right: 16/$rem*1rem;  
        
          
    }
        .circle-right{
          width: 12/$rem*1rem; 
          height: 12/$rem*1rem; 
            margin-top:12/$rem*1rem;
          border-radius: 6/$rem*1rem; 
          background: #959595;
          
          
    }
}
.active{
      background: #fddb48;
}
section{
  
    margin-top:20/$rem*1rem; 
    
}
.activity{
    width:100%;
    height: 355/$rem*1rem; 
    background: #fff;

     .background{
         position: relative;
         z-index: 0;
         width:750/$rem*1rem; 
         height: 243/$rem*1rem; 
         img{
             width: 100%;
             height: 100%;
         }
     }
     .renegade{
         width:100%;
         position: absolute;
         z-index: 1;
         top:29/$rem*1rem;
         text-align: center;
         .special-scene{
             margin-top:38/$rem*1rem;
              
             .go-to{
                 width:139/$rem*1rem;
                 height: 33/$rem*1rem;
                 border: 2/$rem*1rem solid #fff;
                 border-radius:  16/$rem*1rem;
                 line-height:  33/$rem*1rem;
                 text-align: center;
                 margin:0 auto;
                 a{
                      font-size: 16/$rem*1rem;
                       color: #fff;
                 }
             }
         }
         p{
             font-size: 31/$rem*1rem;
             color: #fff;
             padding-top: 14/$rem*1rem;
             padding-bottom:  10/$rem*1rem;
         }
         .combination{
             width:100%;
             display: flex;
             justify-content: center;
            
            
        .picture{
             width:149/$rem*1rem;
             height: 2/$rem*1rem;
             img{
                 width:100%;
                 height: 100%;
             }
         }

         }


     }
     .news{
          width:100%;
          height: 90/$rem*1rem; 
          display: flex;
          justify-content: space-around;
          line-height: 90/$rem*1rem; 
          .consult{
              display: flex;
                        h1{
               font-size:27/$rem*1rem;
               font-weight: bolder; 
          }
          img{
               width: 22/$rem*1rem; 
               height: 22/$rem*1rem; 
              padding-top:35/$rem*1rem; 
           

          }
          }
        
          span{
                font-size:25/$rem*1rem;
          }
          a{
            color: #fd663b;
          }
         
     }
    
}
.new-product-cover{
     width:100%;
     height: 906/$rem*1rem;
     background: #fff;
     margin-top:-1/$rem*1rem;
  
   
}
.new-product{
 
    position: relative;
    width:100%;
    height:193/$rem*1rem;
    text-align: center;
    justify-content: center;
   
   .new-picture{
        width:100%;
        position: relative;
        padding-top:20/$rem*1rem;
        
        img{
            width:50%;
            
        }
   }
  
    
}
.product-list{
    width:100%;
    height:531/$rem*1rem; 
    display: flex;
  
   
    .product-list-left{
        width:50%;
        height: 100%;
        border-right:1px solid #ddd;
         text-align: center;
                span{

                font-size:25/$rem*1rem;
                color:#444444;
                p{
                        font-size:16/$rem*1rem;
                        color: #d0d0d0;
                        text-align: center;
                        padding-top:10/$rem*1rem;
                }


                }
                .picture{
                    width:274/$rem*1rem;
                    height:167/$rem*1rem;
                     padding-top:40/$rem*1rem;
                    margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
               
                h4{
                padding-top:30/$rem*1rem;
                font-size:16/$rem*1rem;
                padding-top:56/$rem*1rem;
                    color:#b7b7b7;
                    
                }
            .discount{
                 padding-top:30/$rem*1rem;
                  font-size:24/$rem*1rem;
                      color:#444444;
                      span{
                          color: #fd663b;
                          font-size:34/$rem*1rem;
                          font-weight: bolder;
                      }

            }
            .retail{
                font-size:20/$rem*1rem;
                color:#a0a0a0;
                text-decoration:line-through;
            }
            .Shopping-cart{
                width:200/$rem*1rem;
                height: 40/$rem*1rem;
                background: #fbd42a;
                border-radius: 20/$rem*1rem;
                 margin:0 auto;
                 margin-top: 25/$rem*1rem;
                 display: flex;
                
               
              .car{
                   width:28/$rem*1rem;
                   height:28/$rem*1rem;
                   padding-top:5/$rem*1rem;
                   padding-left: 20/$rem*1rem;

                    img{
                        width:100%;
                        height: 100%;
                    
                     
                 }
               }
                 span{
                     font-size:20/$rem*1rem;
                     line-height: 40/$rem*1rem;
                     padding-left: 20/$rem*1rem;
                 }

            }
    }




      .product-list-right{
        width:50%;
        height: 100%;
        border-right:1px solid #ddd;
        
    
         text-align: center;
                span{

                font-size:25/$rem*1rem;
                color:#444444;
                p{
                        font-size:16/$rem*1rem;
                        color: #d0d0d0;
                        text-align: center;
                        padding-top:10/$rem*1rem;
                }


                }
                   .picture{
                    width:213/$rem*1rem;
                    height:232/$rem*1rem;
                    margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                h4{
                padding-top:30/$rem*1rem;
                font-size:16/$rem*1rem;
                 padding-top:30/$rem*1rem;
                    color:#b7b7b7;
                    
                }
            .discount{
                 padding-top:30/$rem*1rem;
                  font-size:24/$rem*1rem;
                      color:#444444;
                      span{
                          color: #fd663b;
                          font-size:34/$rem*1rem;
                          font-weight: bolder;
                      }

            }
            .retail{
                font-size:20/$rem*1rem;
                color:#a0a0a0;
                text-decoration:line-through;
            }
            .Shopping-cart{
                width:200/$rem*1rem;
                height: 40/$rem*1rem;
                background: #fbd42a;
                border-radius: 20/$rem*1rem;
                 margin:0 auto;
                 margin-top: 25/$rem*1rem;
                 display: flex;
                
               .car{
                   width:28/$rem*1rem;
                   height:28/$rem*1rem;
                     padding-top:5/$rem*1rem;
                   padding-left: 20/$rem*1rem;
                    img{
                        width:100%;
                        height: 100%;
                    
                     
                 }
               }
                
                 span{
                     font-size:20/$rem*1rem;
                     line-height: 40/$rem*1rem;
                     padding-left: 20/$rem*1rem;
                 }

            }
    }
}

.more{
    width:100%;
    text-align: center;
    padding-top:75/$rem*1rem;

    span{
         font-size:20/$rem*1rem;
         color:#444444;
    }
    .recommendation{
        width:50%;
         margin:0 auto;
         img{
             width:30%;
         }
    }
  
}
.daily-limit-cover{
    width:100%;
   margin-top:18/$rem*1rem;
   background: #fff;
   

}
.daily-limit{
    width:100%;
    height: 968/$rem*1rem; 
     .daily-limit-top{
        width:100%;
        height: 516/$rem*1rem;
   
        .daily-limit-top-title{
            width:100%;
            height:115/$rem*1rem;
      
            line-height: 18/$rem*1rem;
            position: relative;
            text-align: center;
         
         
           
            span{
                display: block;
                font-size:28/$rem*1rem;
               text-align: center;
               margin-top:-50/$rem*1rem;
               

            }
           img{
              padding-top:18/$rem*1rem;
               width:20%;
           }
        }
        .daily-limit-top-content{
            width:100%;
            height:401/$rem*1rem;
            display: flex;
            .daily-limit-top-content-left{
                width:50%;
                height: 100%;
               
                position: relative;
                .limit{
                   
                    width:100%;
                    height: 30%;
                    padding-left: 45/$rem*1rem;
                    padding-top: 43/$rem*1rem;
                    overflow: hidden;
                    
                    span{
                        display: block;
                        background: #444444;
                        width:143/$rem*1rem;
                        height: 33/$rem*1rem;
                        font-size: 20/$rem*1rem;
                        text-align: center;
                        line-height:  33/$rem*1rem;
                        color: #fff;


                    }
                    div{
                        width:168/$rem*1rem;
                          height: 33/$rem*1rem;
                          background: #444444;
                         font-size: 20/$rem*1rem;
                        text-align: center;
                        line-height:  33/$rem*1rem;
                        margin-top:13/$rem*1rem;
                         color: #fff;
                    }
                }
              .chicken{
                  width: 100%;
                  height:59%;
               
                   text-align: center;
                  img{
                      width: 50%;
                      
                  }
                  

              }
            }
            .daily-limit-top-content-right{
                width:50%;
                height: 100%;
             
                text-align: center;
                padding-top:82/$rem*1rem;
                overflow: hidden;
              
                span{
                    width:100%;
                   font-size: 31/$rem*1rem;
                   color: #444444;
                  
                }
                p{
                    width: 80%;
                    font-size: 16/$rem*1rem;
                    text-indent: 40/$rem*1rem;
                    color: #d2d2d2;
                    text-align: left;
                    letter-spacing: 1/$rem*1rem;
                    padding-top:80/$rem*1rem;
                    padding-left:46/$rem*1rem; 
                  
                   
                  
                }
            }
        }
     }
     .daily-limit-line{
        width:90%;
        margin:0 auto;
        height: 1/$rem*1rem;
        background: #dcdcdc;
   
     }
     .daily-limit-bottom{
         width:100%;
        height: 439/$rem*1rem;
       
            display: flex;
             .daily-limit-top-content-right{
                width:50%;
                height: 100%;
               
                position: relative;
                .limit{
                   
                    width:100%;
                    height: 30%;
                  
                  
                    padding-top: 43/$rem*1rem;
                    overflow: hidden;
             
                   padding-left: 45%;
                  
                  
                
                    
                    span{
                        display: block;
                        background: #444444;
                        width:143/$rem*1rem;
                        height: 33/$rem*1rem;
                        font-size: 20/$rem*1rem;
                        text-align: center;
                        line-height:  33/$rem*1rem;
                        color: #fff;
                        margin-left:22/$rem*1rem;
                       
                     


                    }
                    div{
                        width:168/$rem*1rem;
                          height: 33/$rem*1rem;
                          background: #444444;
                         font-size: 20/$rem*1rem;
                        text-align: center;
                        line-height:  33/$rem*1rem;
                        margin-top:13/$rem*1rem;
                         color: #fff;
                       
                    }
                }
                 .chicken{
                  width: 100%;
                  height:59%;
               
                   text-align: center;
                  img{
                      width: 50%;
                      
                  }
                  

              }
            }
            .daily-limit-top-content-left{
                width:50%;
                height: 100%;
             
                text-align: center;
                padding-top:82/$rem*1rem;
                overflow: hidden;
              
                span{
                    width:100%;
                   font-size: 31/$rem*1rem;
                   color: #444444;
                  
                }
                p{
                    width: 80%;
                    font-size: 16/$rem*1rem;
                    text-indent: 40/$rem*1rem;
                    color: #d2d2d2;
                    text-align: left;
                    letter-spacing: 1/$rem*1rem;
                    padding-top:80/$rem*1rem;
                    padding-left:46/$rem*1rem; 
                  
                   
                  
                }
            }
            
     }
}
.buy-it-covers{

    margin-top:16/$rem*1rem; 
    background: #fff;

}
.buy-it{
    width:100%;
    height: 1423/$rem*1rem; 
 
    .buy-it-top{
        width:100%;
        height: 676/$rem*1rem; 
      .background{
          width: 100%;        
      }
     .store-will-buy{
         width:100%;
         height: 147/$rem*1rem; 
         display: flex;
         justify-content: center;
         padding-top: 50/$rem*1rem; 
        
       
       
         .blackets{
               font-size: 47/$rem*1rem; 
               color: #fbd42a;   

         }

            span{
                     font-size: 26/$rem*1rem; 
                       color: #000;
                       padding-left: 12/$rem*1rem; 
                    
               }
               p{
                   font-size: 16/$rem*1rem; 
                    
               }
     }
     .apple{
         width: 100%;
         height: 258/$rem*1rem;
         display: flex;
           margin-top: -53/$rem*1rem; 
        
       
         .picture{
             width:221/$rem*1rem;
             height: 188/$rem*1rem;
             margin: 0 auto;
            padding-top:18/$rem*1rem;
          
             img{
                 width: 100%;
                 height: 100%;
             }

         }
         .introduce{
              width:50%;
             height: 100%;
             
             padding-top:30/$rem*1rem;
         
             .price{
                    width:100%;
                    display: flex;
                    
                 div{
                       font-size: 34/$rem*1rem;
                       color: #fd663b;
                   }
                 span{
                       font-size: 16/$rem*1rem;
                       color: #686868;
                       text-decoration: line-through;
                       padding-top: 20/$rem*1rem;
                       padding-left: 16/$rem*1rem;
                   }
                   .price-left{

                   span{
                       font-size: 16/$rem*1rem;
                       color: #000;
                       text-decoration: none;
                        padding-left: 0/$rem*1rem;
                        
                   }
             }
             }
            .number{
                    width:85%;
                    height:120/$rem*1rem;
                 
                    margin:0 auto;
                  
                    display: flex;
                    .number-line{
                        width:4/$rem*1rem;
                        height: 70/$rem*1rem;
                        background:#dcdcdc;
                       
                    }
                    .text{
                        padding-left: 18/$rem*1rem;
                        span{
                              font-size: 22/$rem*1rem;
                              color: #444444;
                        }
                        p{
                            font-size: 11/$rem*1rem;
                              color: #939393;
                              padding-top:13/$rem*1rem;
                        }
                    }
                 
                    
             }
         }

     }
    }

    .buy-it-line{
         width:90%;
        margin:0 auto;
        height: 1/$rem*1rem;
        background: #dcdcdc;
     
    }
    .buy-it-content{
        width:100%;
        height:614/$rem*1rem;
        .contentTop{
            width:100%;
            height: 314/$rem*1rem;
            display: flex;
            
            .contentTop-left{
                width:50%;
                height: 314/$rem*1rem;
              
           .introduce{
              width:100%;
             height: 100%;
             padding-top:85/$rem*1rem; 
              
            
             .price{
                    width:100%;
                    display: flex;
                    justify-content: center;
                    
                    
                 div{
                       font-size: 34/$rem*1rem;
                       color: #fd663b;
                   }
                 span{
                       font-size: 16/$rem*1rem;
                       color: #686868;
                       text-decoration: line-through;
                       padding-top: 20/$rem*1rem;
                       padding-left: 16/$rem*1rem;
                   }
                   .price-left{

                   span{
                       font-size: 16/$rem*1rem;
                       color: #000;
                       text-decoration: none;
                        padding-left: 0/$rem*1rem;
                        
                   }
             }
             }
            .number{
                    width:60%;
                    height:120/$rem*1rem;
                    margin:0 auto;
                    
                         
                  
                    display: flex;
                    margin-left: 130/$rem*1rem;
                    .number-line{
                        width:4/$rem*1rem;
                        height: 70/$rem*1rem;
                        background:#dcdcdc;

                       
                    }
                    .text{
                        padding-left: 18/$rem*1rem;
                        span{
                              font-size: 22/$rem*1rem;
                              color: #444444;
                        }
                        p{
                            font-size: 11/$rem*1rem;
                              color: #939393;
                              padding-top:13/$rem*1rem;
                        }
                    }
                 
                    
             }
         }

            }
            .contentTop-right{
                 width:50%;
                height: 314/$rem*1rem;
        
                
                .picture{
                    width:224/$rem*1rem;
                    height:205/$rem*1rem;
                    margin-right: 45/$rem*1rem;
                    margin:0 auto;
                    padding-top:50/$rem*1rem;
                   
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                                
            }
        }
        .contentList{
             width:100%;
            height: 300/$rem*1rem;
            display: flex;
            justify-content: space-around;
            .line{
                width:1/$rem*1rem; 
                height: 200/$rem*1rem;
                background: #dcdcdc; 
                margin-top:50/$rem*1rem;
               
            }
            
            .contentList-left{
                width:32%;
                height: 100%;
           
                .top{
                    width: 100%;
                    height: 85/$rem*1rem;
                    text-align: center;
                    span{
                        font-size: 20/$rem*1rem;
                        color: #444444;
                    }
                    p{
                            font-size: 14/$rem*1rem;
                            color: #9b9b9b;
                            padding-top:15/$rem*1rem;
                           
                    }
                }
                .center{
                    width:118/$rem*1rem;
                     height: 115/$rem*1rem;
                     margin:0 auto;
                     img{
                         width:100%;
                         height: 100%;
                     }
                }
                 .bottom{
                     width:100%;
                     height: 100/$rem*1rem;
                     display: flex;
                     justify-content: space-around;
            
                     div{
                            font-size: 19/$rem*1rem;
                            color: #fd663b;
                            padding-top:26/$rem*1rem;
                     }
                     span{
                          font-size: 10/$rem*1rem;
                          color:#cdcdcd
                     }
                     p{
                       font-size: 10/$rem*1rem;
                         color:#a0a0a0;
                          padding-top:35/$rem*1rem;
                          text-decoration: line-through;

                     }
                 }
            }
             .contentList-content{
                width:32%;
                height: 100%;
            
                  .top{
                    width: 100%;
                    height: 85/$rem*1rem;
                    text-align: center;
                    span{
                        font-size: 20/$rem*1rem;
                        color: #444444;
                    }
                    p{
                            font-size: 14/$rem*1rem;
                            color: #9b9b9b;
                            padding-top:15/$rem*1rem;
                           
                    }
                }
                .center{
                    width:118/$rem*1rem;
                     height: 115/$rem*1rem;
                     margin:0 auto;
                     img{
                         width:100%;
                         height: 100%;
                     }
                }
                 .bottom{
                     width:100%;
                     height: 100/$rem*1rem;
                     display: flex;
                     justify-content: space-around;
            
                     div{
                            font-size: 19/$rem*1rem;
                            color: #fd663b;
                            padding-top:26/$rem*1rem;
                     }
                     span{
                          font-size: 10/$rem*1rem;
                          color:#cdcdcd
                     }
                     p{
                       font-size: 10/$rem*1rem;
                         color:#a0a0a0;
                          padding-top:35/$rem*1rem;
                          text-decoration: line-through;

                     }
                 }

            }
                 .contentList-right{
                width:32%;
                height: 100%;
            
                                .top{
                    width: 100%;
                    height: 85/$rem*1rem;
                    text-align: center;
                    span{
                        font-size: 20/$rem*1rem;
                        color: #444444;
                    }
                    p{
                            font-size: 14/$rem*1rem;
                            color: #9b9b9b;
                            padding-top:15/$rem*1rem;
                           
                    }
                }
                .center{
                    width:118/$rem*1rem;
                     height: 115/$rem*1rem;
                     margin:0 auto;
                     img{
                         width:100%;
                         height: 100%;
                     }
                }
                 .bottom{
                     width:100%;
                     height: 100/$rem*1rem;
                     display: flex;
                     justify-content: space-around;
            
                     div{
                            font-size: 19/$rem*1rem;
                            color: #fd663b;
                            padding-top:26/$rem*1rem;
                     }
                     span{
                          font-size: 10/$rem*1rem;
                          color:#cdcdcd
                     }
                     p{
                       font-size: 10/$rem*1rem;
                         color:#a0a0a0;
                          padding-top:35/$rem*1rem;
                          text-decoration: line-through;

                     }
                 }

            }
        }
  

    }
    .look-all{
        width:100%;
        height: 135/$rem*1rem;
    
        text-align: center;
        padding-top:18/$rem*1rem;
       
        .picture{
            width:31/$rem*1rem;
            height:17/$rem*1rem;
           
          margin-left:auto;
          margin-right: auto;
            img{
                width:100%;
                height:100%;
            }

        }
        P{
            font-size:22/$rem*1rem;
            color:#444444;
            padding-top:14/$rem*1rem;


        }
    }
}
.more-recommendation-covers{
    width:100%;
    margin-top:18/$rem*1rem;
}
.more-recommendation{
    width:100%;
    height:1156/$rem*1rem;
    background: #fff; 
   
    .more-recommendation-top{
            width:100%;
            height:386/$rem*1rem; 
            
             .picture{
                 width:750/$rem*1rem; 
                 height:302/$rem*1rem; 
                  
                 img{
                     width:100%;
                     height: 100%;
                 }
                 
             }
             .more-produce{
                 width:100%;
                 height:73/$rem*1rem; 
                 text-align: center;            
            
                 p{
                     color: #444444;
                     font-size: 19/$rem*1rem;
                     padding-top:15/$rem*1rem;
                     
                 }
                 div{
                     width:121/$rem*1rem;
                     height:17/$rem*1rem;
                     margin-top:6/$rem*1rem;
                     margin-left:auto;
                     margin-right:auto;
                     img{
                         width:80%;
                         height:80%;
                     }
                 }
             }
    }
        .more-recommendation-center{
            width:100%;
            height:391/$rem*1rem; 
       
            .picture{
                 width:750/$rem*1rem; 
                 height:301/$rem*1rem; 
                 img{
                     width:100%;
                     height: 100%;
                 }
                 
             }
                       .more-produce{
                 width:100%;
                 height:73/$rem*1rem; 
                 text-align: center;            
            
                 p{
                     color: #444444;
                     font-size: 19/$rem*1rem;
                     padding-top:15/$rem*1rem;
                     
                 }
                 div{
                     width:121/$rem*1rem;
                     height:17/$rem*1rem;
                     margin-top:6/$rem*1rem;
                     margin-left:auto;
                     margin-right:auto;
                     img{
                         width:80%;
                         height:80%;
                     }
                 }
             }
    }
        .more-recommendation-bottom{
            width:100%;
            height:381/$rem*1rem; 
           
            .picture{
                 width:750/$rem*1rem; 
                 height:300/$rem*1rem; 
                 img{
                     width:100%;
                     height: 100%;
                 }
                 
             }
                       .more-produce{
                 width:100%;
                 height:73/$rem*1rem; 
                 text-align: center;            
            
                 p{
                     color: #444444;
                     font-size: 19/$rem*1rem;
                     padding-top:15/$rem*1rem;
                     
                 }
                 div{
                     width:121/$rem*1rem;
                     height:17/$rem*1rem;
                     margin-top:6/$rem*1rem;
                     margin-left:auto;
                     margin-right:auto;
                     img{
                         width:80%;
                         height:80%;
                     }
                 }
             }
    }
}
.everyone-buy-covers{
    width:100%;
    background: #fff;
}
.everyone-buy{
    width:100%;
    height: 1457/$rem*1rem;
    
    .everyone-buy-title{
        width:100%;
        height: 181/$rem*1rem;
    
        display: flex;
        justify-content: center;
         .blacket{
               font-size: 47/$rem*1rem; 
               color: #fbd42a;   
               padding-top:64/$rem*1rem;

         }
          span{  
                  display: block;
                     font-size: 26/$rem*1rem; 
                    color: #000;
                     margin-top:68/$rem*1rem;
                    
                    padding-left: 12/$rem*1rem; 
                    
               }
               p{
                   font-size: 16/$rem*1rem; 
                   padding-top:8/$rem*1rem;
                    
               }
        

    }
    .everyone-buy-lists{
        width:100%;
        height: 1138/$rem*1rem;
      
        .all-line{
            width:728/$rem*1rem;;
            height:1/$rem*1rem; 
            background: #e5e5e5;
            margin:0 auto;
        }
        .grape{
            width:100%;
            height: 273/$rem*1rem;
            display: flex;
           
            .grape-picture{
                width:45%;
                height: 100%;
                line-height:274/$rem*1rem; 
             
                .picture
                {
                    width:226/$rem*1rem;
                    height: 215/$rem*1rem;
                        margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                       }
                 }
            }
            .grape-introduce{
                width:55%;
                height: 100%;
               
                 padding-top:30/$rem*1rem;
              
                span{
                  
                    font-size: 27/$rem*1rem; 
                    padding-left: 5/$rem*1rem; 
                   
                   
                      
                }
                p{
                    font-size: 22/$rem*1rem;  
                    color: #a0a0a0;
                    padding-left: 5/$rem*1rem; 
                    padding-top: 10/$rem*1rem; 
                    letter-spacing:4/$rem*1rem; 
                }
                .grape-price{
                    display: flex;
                     padding-left: 5/$rem*1rem; 
                      padding-top: 10/$rem*1rem; 
                    div{
                        font-size: 25/$rem*1rem; 
                         color: #fd663b;
                         font-weight: bold;
                           margin-top: -1/$rem*1rem; 
                         
                       span{
                             font-size: 13/$rem*1rem; 
                            color: #444444;
                           
                       }
                    }
                    p{
                        font-size: 13/$rem*1rem; 
                         color: #a0a0a0;
                         text-decoration: line-through;
                         padding-left: 22/$rem*1rem;
                          
                        
                    }
                }
                .shoppingCar{
                     width:200/$rem*1rem;
                    height: 40/$rem*1rem;
                    background: #fbd42a;
                    border-radius: 20/$rem*1rem;
                    margin-left: 5/$rem*1rem;
                    margin-top: 25/$rem*1rem;
                    display: flex;
                 .car{
                   width:28/$rem*1rem;
                   height:28/$rem*1rem;
                   padding-top:5/$rem*1rem;
                   padding-left: 20/$rem*1rem;

                    img{
                        width:100%;
                        height: 100%;
                    
                     
                 }
               }
                 span{
                     font-size:20/$rem*1rem;
                     line-height: 40/$rem*1rem;
                     padding-left: 20/$rem*1rem;
                 }
                }
               
            }

        }
        .meat{
            width:100%;
            height: 285/$rem*1rem;
            display: flex;
            .meat-picture{
                width:45%;
                height: 100%;
                line-height:274/$rem*1rem; 
                .picture
                {
                    width:205/$rem*1rem;
                    height: 205/$rem*1rem;
                        margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                       }
                 }
            }
            .meat-introduce{
            width:55%;
                height: 100%;
               
                 padding-top:30/$rem*1rem;
              
                span{
                  
                    font-size: 27/$rem*1rem; 
                    padding-left: 5/$rem*1rem; 
                   
                   
                      
                }
                p{
                    font-size: 22/$rem*1rem;  
                    color: #a0a0a0;
                    padding-left: 5/$rem*1rem; 
                    padding-top: 10/$rem*1rem; 
                    letter-spacing:4/$rem*1rem; 
                }
                .meat-price{
                    display: flex;
                     padding-left: 5/$rem*1rem; 
                      padding-top: 10/$rem*1rem; 
                    div{
                        font-size: 25/$rem*1rem; 
                         color: #fd663b;
                         font-weight: bold;
                           margin-top: -1/$rem*1rem; 
                         
                       span{
                             font-size: 13/$rem*1rem; 
                            color: #444444;
                           
                       }
                    }
                    p{
                        font-size: 13/$rem*1rem; 
                         color: #a0a0a0;
                         text-decoration: line-through;
                         padding-left: 22/$rem*1rem;
                          
                        
                    }
                }
                .shoppingCar{
                     width:200/$rem*1rem;
                    height: 40/$rem*1rem;
                    background: #fbd42a;
                    border-radius: 20/$rem*1rem;
                    margin-left: 5/$rem*1rem;
                    margin-top: 25/$rem*1rem;
                    display: flex;
                 .car{
                   width:28/$rem*1rem;
                   height:28/$rem*1rem;
                   padding-top:5/$rem*1rem;
                   padding-left: 20/$rem*1rem;

                    img{
                        width:100%;
                        height: 100%;
                    
                     
                 }
               }
                 span{
                     font-size:20/$rem*1rem;
                     line-height: 40/$rem*1rem;
                     padding-left: 20/$rem*1rem;
                 }
                }
               
            }

        }
     .shrimp{
            width:100%;
            height: 287/$rem*1rem;
            display: flex;
            .shrimp-picture{
                width:45%;
                height: 100%;
                line-height:274/$rem*1rem; 
                .picture
                {
                    width:232/$rem*1rem;
                    height: 215/$rem*1rem;
                        margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                       }
                 }
            }
            .shrimp-introduce{
              width:55%;
                height: 100%;
               
                 padding-top:30/$rem*1rem;
              
                span{
                  
                    font-size: 27/$rem*1rem; 
                    padding-left: 5/$rem*1rem; 
                   
                   
                      
                }
                p{
                    font-size: 22/$rem*1rem;  
                    color: #a0a0a0;
                    padding-left: 5/$rem*1rem; 
                    padding-top: 10/$rem*1rem; 
                    letter-spacing:4/$rem*1rem; 
                }
                .shrimp-price{
                    display: flex;
                     padding-left: 5/$rem*1rem; 
                      padding-top: 10/$rem*1rem; 
                    div{
                        font-size: 25/$rem*1rem; 
                         color: #fd663b;
                         font-weight: bold;
                           margin-top: -1/$rem*1rem; 
                         
                       span{
                             font-size: 13/$rem*1rem; 
                            color: #444444;
                           
                       }
                    }
                    p{
                        font-size: 13/$rem*1rem; 
                         color: #a0a0a0;
                         text-decoration: line-through;
                         padding-left: 22/$rem*1rem;
                          
                        
                    }
                }
                .shoppingCar{
                     width:200/$rem*1rem;
                    height: 40/$rem*1rem;
                    background: #fbd42a;
                    border-radius: 20/$rem*1rem;
                    margin-left: 5/$rem*1rem;
                    margin-top: 25/$rem*1rem;
                    display: flex;
                 .car{
                   width:28/$rem*1rem;
                   height:28/$rem*1rem;
                   padding-top:5/$rem*1rem;
                   padding-left: 20/$rem*1rem;

                    img{
                        width:100%;
                        height: 100%;
                    
                     
                 }
               }
                 span{
                     font-size:20/$rem*1rem;
                     line-height: 40/$rem*1rem;
                     padding-left: 20/$rem*1rem;
                 }
                }
                 
            }

        }

    }
        .egg{
            width:100%;
            height: 290/$rem*1rem;
            display: flex;
            .egg-picture{
                width:45%;
                height: 100%;
                line-height:274/$rem*1rem; 
                .picture
                {
                    width:230/$rem*1rem;
                    height: 221/$rem*1rem;
                        margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                       }
                 }
            }
            .egg-introduce{
               width:55%;
                height: 100%;
               
                 padding-top:30/$rem*1rem;
              
                span{
                  
                    font-size: 27/$rem*1rem; 
                    padding-left: 5/$rem*1rem; 
                   
                   
                      
                }
                p{
                    font-size: 22/$rem*1rem;  
                    color: #a0a0a0;
                    padding-left: 5/$rem*1rem; 
                    padding-top: 10/$rem*1rem; 
                    letter-spacing:4/$rem*1rem; 
                }
                .egg-price{
                    display: flex;
                     padding-left: 5/$rem*1rem; 
                      padding-top: 10/$rem*1rem; 
                    div{
                        font-size: 25/$rem*1rem; 
                         color: #fd663b;
                         font-weight: bold;
                           margin-top: -1/$rem*1rem; 
                         
                       span{
                             font-size: 13/$rem*1rem; 
                            color: #444444;
                           
                       }
                    }
                    p{
                        font-size: 13/$rem*1rem; 
                         color: #a0a0a0;
                         text-decoration: line-through;
                         padding-left: 22/$rem*1rem;
                          
                        
                    }
                }
                .shoppingCar{
                     width:200/$rem*1rem;
                    height: 40/$rem*1rem;
                    background: #fbd42a;
                    border-radius: 20/$rem*1rem;
                    margin-left: 5/$rem*1rem;
                    margin-top: 25/$rem*1rem;
                    display: flex;
                 .car{
                   width:28/$rem*1rem;
                   height:28/$rem*1rem;
                   padding-top:5/$rem*1rem;
                   padding-left: 20/$rem*1rem;

                    img{
                        width:100%;
                        height: 100%;
                    
                     
                 }
               }
                 span{
                     font-size:20/$rem*1rem;
                     line-height: 40/$rem*1rem;
                     padding-left: 20/$rem*1rem;
                 }
                }
               
            
            }

        }
    .look-more{
        width:100%;
        height: 138/$rem*1rem;
        text-align: center;
    
        p{
                color: #444444;
                font-size: 19/$rem*1rem;
                padding-top:15/$rem*1rem;
                     
            }
        div{
            width:121/$rem*1rem;
            height:17/$rem*1rem;
            margin-top:6/$rem*1rem;
            margin-left:auto;
            margin-right:auto;
            img{
                width:80%;
                height:80%;
            }
        }
    }
}
footer{
    width:100%;
    background: #fff;
    .foot{
            width:100%;
            height:219/$rem*1rem;
         
            .welcome{
                width:100%;
                height:121/$rem*1rem;
                
                .picture{
                    width:750/$rem*1rem;
                    height: 100/$rem*1rem;
                    position: relative;
                    z-index: 0;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                .text{
                    width:750/$rem*1rem;
                    height: 100/$rem*1rem;
                    position: absolute;
                    z-index: 1;
                    text-align: center;
                    font-size: 21/$rem*1rem;
                    top:26/$rem*1rem;
                    color: #efecea;
                    letter-spacing: 6/$rem*1rem;
                    font-weight: bolder;
                    p{
                        letter-spacing: 2/$rem*1rem;
                        padding-top:  5/$rem*1rem; 
                         
                    }
                }
                
            }
            .nav-bottom{
                width:100%;
                height: 98/$rem*1rem;
                display: flex;
                position: fixed;
                bottom:0/$rem*1rem;
                background: #e5e5e5;
                
                .home-page{
                    width:25%;
                    height: 100%;
                  
                    text-align: center;
                  
                    .picture{
                        width:64/$rem*1rem;
                        height: 55/$rem*1rem;
                        margin:0 auto;
                        margin-top:12/$rem*1rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                        p{
                        font-size: 16/$rem*1rem;
                        color: #444444;
                         padding-top:8/$rem*1rem;
                    }
                }
                .classification{
                    width:25%;
                    height: 100%;
               
                     text-align: center;
                   .picture{
                        width:52/$rem*1rem;
                        height: 52/$rem*1rem;
                        margin:0 auto;
                        margin-top:12/$rem*1rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    p{
                        font-size: 16/$rem*1rem;
                        color: #444444;
                         padding-top:8/$rem*1rem;
                    }
                }
                .shopCar{
                    width:25%;
                    height: 100%;
          
                     text-align: center;
                   .picture{
                        width:54/$rem*1rem;
                        height: 52/$rem*1rem;
                        margin:0 auto;
                         margin-top:12/$rem*1rem;
                        img{
                            width: 100%;
                            height: 100%;
                                }
                            } 
                     p{
                        font-size: 16/$rem*1rem;
                        color: #444444;
                         padding-top:8/$rem*1rem;
                    }
                        }
                .myself{
                    width:25%;
                    height: 100%;
                     text-align: center;
                   .picture{
                            width:54/$rem*1rem;
                            height: 52/$rem*1rem;
                            margin:0 auto;
                            margin-top:12/$rem*1rem;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                     p{
                        font-size: 16/$rem*1rem;
                        color: #444444;
                        padding-top:8/$rem*1rem;
                    }
                      
                }
            }
        } 

}